
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


  <input type="hidden" id="viewbagMessage" value="@ViewBag.Message">
  <input type="hidden" id="viewbagColor" value="@ViewBag.Color">


<div class="bg-white">
         <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
               <div class="col-lg-4 mx-auto">
                  <div class="osahan-login py-4">
                     <div class="text-center mb-4">

                        <a href="@Url.Action("Index","Home")"><img src="~/images/logo.png" alt=""></a>
                        <h5 class="font-weight-bold mt-3">Reset Password</h5>
                        <p class="text-muted">Please Enter New Password</p>
                     </div>
                     <form method="post" action="@Url.Action("PostResetPassword","Auth")">

                          <input type="hidden" class="form-control" readonly required name="t" value="@ViewBag.Time">
                        <input type="hidden" class="form-control" readonly required name="encId" value="@ViewBag.EncId">
                        <div class="form-group">
                           <label class="mb-1">New Password</label>
                           <div class="position-relative icon-form-control">
                               <i class="mdi mdi-key-variant position-absolute"></i>
                              <input type="password" id="password" name="NewPassword" class="form-control" required>
                           </div>
                        </div>
                         <div class="form-group">
                           <label class="mb-1">Confirm Password</label>
                           <div class="position-relative icon-form-control">   
                           <i class="mdi mdi-key-variant position-absolute"></i>
                              <input type="password" id="ConfirmPassword" onkeyup="matchPassword(this.value)" name="ConfirmPassword" class="form-control" required>
                           </div>
                           <span id="errMsg" class="text-danger" style="display:none;">Password &amp; Confirm Password did not match</span>
                           <span style="color:@ViewBag.Color">@ViewBag.Message</span>
                        </div>
                        <button id="subBtn" class="btn btn-success btn-block text-uppercase" type="submit"> Update Password </button>
                   
                     </form>

                     <a href="@Url.Action("Login","Auth")" class="mt-1 pull-right content-group text-bold">Back To Sign In</a>
                  </div>
               </div>
            </div>

            </div>
            </div>
<script>

        function matchPassword(confirmPw) {
            var newPw = $('#password').val();
            if (newPw != confirmPw) {
                $('#errMsg').attr("style","display:block");
                $('#subBtn').attr("disabled", true);
            }
            else {
                $('#errMsg').hide();
                $('#subBtn').attr("disabled", false);
            }
        }
    </script>